div.tags {
  display: block;
  float: left;
}

div.tags .tag-cloud:before {
  color: rgb(99 102 241 / 1);
  content: "#";
  font-weight: 700;
  margin-right: 3px;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.tag-cloud {
}

article.blog-post:hover h3.post-title {
  text-decoration: underline;
}
